<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrinkify</title>
</head>

<body>
    <H1>Welcome to <i>Shrinkify</i></H1>
    <ol>
      <li><a href="/url/getAll"><u>All registered </u></a></li>
    </ol>
    <% if(locals.id) {%>
        <p>URL Generated : http://localhost:8000/api/urls/<%=locals.id %>
        </p>

        <%} %>
            <form method="POST" action="/url/generateurl">
                <label>
                    Enter your original Url
                </label>
                <br></br>
                <input type="text" placeholder="enter url" name="redirecturl">
                <br></br>
                <button type="submit">Generate url </button>
                <br></br>
            </form>
</body>
</html>