 <!-- ejs is basically html files -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrinkify</title>
  </head>
  <body>
    <h1>Shrinkify</h1>
    <ol>
        <li><a href="/"><u>Home</u></a></li>
        <li><a href="/getAll"><u>All registered </u></a></li>
      </ol>
    <% urlsArray.forEach(url=>{ %>
      <li><%= url.shortUrl %> <%=url.originalUrl %>        <%=url.visitHistory.length%></li>
   <% }) %>
  </body>
  </html>