<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Login Page</h1>
    <ol>
        <li><a href="/"><u>Signup</u></a></li>
    </ol>
    <form method="POST" action="/user/loginUser">
        <label>
            Email
        </label>
        <br></br>
        <input type="email" name="email" placeholder="enter your email address">
        <br></br>
        <label>
            Password
        </label>
        <br></br>
        <input type="password" name="password" placeholder="enter password">
        <br></br>
        <button type="submit">Login</button>
    </form>
</body>

</html>